@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



        body{
            margin: 0;
            font-family: lato;
            background-color: #1C1D21;
        }
        .nav-bar{
            background-color: #010101;
            height:79px;
            width:100% ;
            
        }
        #logo-img1{
            position: absolute;
        }
        #logo-img1:hover{
            display: none;
        }

        .container{
            display: flex;
            justify-content: space-between;
            margin-left: 250px;
            margin-right: 15px;
        }
        .container img{
            width: 100px;
            height: 55px;
            margin: 15px;
           
        }
        .burger{
            display: flex;
            padding-right: 70px;
        }
        .burger h5
        {
            color: white; 
            margin-top: 28px; 
            font-size: 20px;
            font-weight: 300;
        }
        .menu{
            width: 100%;
            height: 100%;
        }

        .containerSelction{
  width: 85%;
  max-width: 1600px;
  height: 50%;
  background: #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.contenu img {
  position: absolute; 
  top: 25%; 
  left: 4%;

}
.contenu h1 {
  position: absolute; 
  left: 10%
}

.containermini{

    display: flex;
    align-items: center;
  
}


.minicontainerSelction1{

    width: 25%;
  max-width: 530px;
  height: 10%;
  background: #f1f1f1;
  position: absolute;
  top: 83%;
  left: 21%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}
.minicontainerSelction2{

    width: 25%;
  max-width: 530px;
  height: 10%;
  background: #f1f1f1;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.minicontainerSelction3{

    width: 25%;
  max-width: 530px;
  height: 10%;
  background: #f1f1f1;
  position: absolute;
  top: 83%;
  left: 79%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;  
}


.button {
    background-color: #4CAF50; /* Green */
    border-radius: 15px;
    width: 220px;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: white; 
    color: black; 
    border: 1px solid #20413D;
    position: absolute; 
    top: 10%; 
    left: 80%
  }
  
  .button1:hover {
    background-color: #5FC4B8;
    color: white;
    border: none;
  }
  .menun
  {
    display: none;

  }
  .menun:hover
  {
    display: flex;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #20413D;
    position: absolute; 
    top: 75%; 
    left: 80%
  }
  
  .button2:hover {
    background-color: #5FC4B8;
    color: white;
    border: none;
  }

  

  .mini-title{
    color: white; 
    position: absolute; 
    top: 68%; 
    left: 15%;
  }

  .minicontainerSelction1 img {
      position: absolute;
      left: 8%;
      top: 25%;
     
  }

  .minicontainerSelction2 img {
    position: absolute;
    left: 8%;
    top: 25%;
}

.minicontainerSelction3 img {
    position: absolute;
    left: 8%;
    top: 25%;
}

.barre{
    background-color: #5FC4B8; 
    border-radius: 15px;
    width: 150px;
    height: 25px;
    color: white;
    position: absolute;
    left: 30%;
    text-align: center;

}

.button-chat{

  position: absolute; 
  top: 90%; 
  right: 2%; 
  cursor: pointer;
}




  
*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.contai 
{
  text-align: left;
  position: absolute;
  top: 90px;
  left: 500px;
  letter-spacing: 1px;
}
.fog
{
  position: relative;
  right: 70px;
  top: 80px;
  font-size: 18px;
}
.lta7t
{
  position: relative;
  left: 400px;
  bottom: 130px;
  font-size: 18px;
}
.lim
{
  margin-bottom: 50px;
}
.lim1
{
  margin-bottom: 50px;
}
@media only screen and (min-width: 280px) and (max-width: 375px) {
.nav-bar{
  width:100% ;

  
}

body{

  height: 500px;
}

#logo-img1{
  position:absolute;
  left: 20px;

}

#logo-img2{
  display: none;
  
}

.container img{
  width: 100px;
  height: 55px;
  margin-left: 15px;
 
}

.container h5 {
  display: none;
}


.burger{
  display: flex;
  padding-right: 30px;
}

  .containerSelction {
    flex-direction: column;
    margin: 40% auto 10%;
    width: 296px;
    height: 653px;
 }

.contenu {

  flex-direction: column;

}

.contenu img {

  position: absolute;
    top: 4%;
    left: 30%;
}
.contenu h1{

  position: absolute;
  left: 24%;
  top: 20%;
}


.button.button1 {
  position: absolute;
  top: 79%;
  left: 14%;
}
.button2 {
    background-color: white;
    color: black;
    border: 1px solid #20413D;
    position: absolute;
    top: 89%;
    left: 15%;
}


.mini-title {
  color: white;
  position: absolute;
  top: 99%;
  left: 34%;
}

.minicontainerSelction1 {
  width: 78%;
  max-width: 530px;
  height: 10%;
  background: #f1f1f1;
  position: absolute;
  top: 113%;
  left: 51%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 
}

.barre {
  background-color: #5FC4B8;
  border-radius: 15px;
  width: 150px;
  height: 25px;
  color: white;
  position: absolute;
  left: 32%;
  text-align: center;
  top: 22%;
}

.minicontainerSelction2 {
  width: 79%;
  max-width: 530px;
  height: 10%;
  background: #f1f1f1;
  position: absolute;
  top: 126%;
  left: 51%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.minicontainerSelction3 {
  width: 79%;
  max-width: 530px;
  height: 10%;
  background: #f1f1f1;
  position: absolute;
  top: 139%;
  left: 51%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}


.button-chat{
  position: absolute;
    top: 149%;
    right: 13%;
    cursor: pointer;
}

.contai 
{
  position: relative;
  left: 65px;
  text-align: center;
  top: 70px;
}
.fog
{
  position: relative;
  right: 70px;
  top: 80px;
  font-size: 13px;
}
.lta7t
{
  position: relative;
  left: 0px;
  top: 90px;
  font-size: 13px;
  margin-right: 220px;

}
.lta7t p 
{
  position: relative;
  right: 70px;
}
.lim
{
  margin-bottom: 0px;
}
.lissr1 p 
{
  position: relative;
  left: 10px;
}